/* ------------------------------------- */
.Form {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    background: #383838;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 40px;}
    
  .Form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .Form .user-box {
    position: relative;
  }
  
  .Form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .Form .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    transition: .5s;
  }
  
  .Form .user-box input:focus ~ label,
  .Form .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f5f5f5;
    font-size: 12px;
  }
