*{
    /* background-color: lightgrey;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; */
    
}

.BtnBrdr
{
    /* border: 2px solid white;
    border-radius: 5px; */
    
}

h1
{

}
body{
    
}

